<form action=”/articles/<%= @article.id %>” method=”POST”>
Title: <input type=”text” name=”article[title]” value=”<%= @book.title %>”><br>
Author: <input type=”text” name=”book[author]” value=”<%= @book.author %>”><br>
<input type=”hidden” name=”_method” value=”PATCH”>
<input type=”submit”/>
</form>