<h2> Title: <%= @book.title %> </h2><br>
<h2> Author: <%= @book.author %> </h2><br>
<form action=”/books/<%= @book.id %>” method=”POST”>
<input type=”hidden” name=”_method” value=”DELETE”/>
<input type=”submit” value=”delete”>
</form>