<h2> Title: <%= @article.title %> </h2><br>
<h2> Author: <%= @article.author %> </h2><br>
<form action=”/books/<%= @article.id %>” method=”POST”>
<input type=”hidden” name=”_method” value=”DELETE”/>
<input type=”submit” value=”delete”>
</form>